@page "/addNewEdgeDebug"
@inject HttpClient Http
@inject NavigationManager NavigationManager
    <h3>Choose Two Articles To Create A Reference Between</h3>

<EditForm Model ="@edge" OnValidSubmit="@doNothing"> 
    <DataAnnotationsValidator />
    <ValidationSummary />
    @if (nodes == null)
    {
    <p><em>Loading...</em></p>
    }
    else
    {
        <table class="table">
        <thead>
            <tr>
                <th>Articles</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var node in nodes)
            {
                <tr>
                    <td>@node.title </td><td><button class="btn btn-info" @onclick="@(() => setFromNode(@node))">Set As Reference From</button>   <button class="btn btn-info" @onclick="@(() => setToNode(@node))">Set As Reference To</button></td>
                </tr>
            }
        </tbody>
        </table>
    }
    <div class="form-group">
    <div class="chosen">
        <div><text>Chosen from-article: @nodeFromTitle</text></div>
        <div><text2>Chosen to-article: @nodeToTitle</text2></div>
    </div>
    <button type="submit" class="btn btn-success" @onclick="HandleValidSubmit">Create</button>
    </div>
    <p hidden="@(!isFailed)">Something went wrong :(</p>
    <p hidden="@(!isSuccesful)">Reference between @nodeFromTitle and @nodeToTitle added succesfully</p>
</EditForm>

<style>
    .btn-info {
        color: white;
    }
    .btn-success {
        background-color: #b6b5b3;
        color: white;
        width: 100px;
        height: 40px;
    }

    .chosen {
        display: block;
        width: 90%;
    }
</style>



@code {
    private bool isFailed {get; set;} = false;
    private bool isSuccesful {get; set;} = false;
    private EdgeCreateDTO edge {get; set;} = new();

    private string nodeFromTitle {get;set;} = "";
    private string nodeToTitle {get;set;} = "";
    private int nodeFromID {get; set;}
    private int nodeToID {get; set;}

    private NodeDTO[]? nodes {get; set;} 
    protected override async Task OnInitializedAsync()  
    {
        nodes = await Http.GetFromJsonAsync<NodeDTO[]>("api/Node");
    }

    private void doNothing() {
        Console.WriteLine("Edge: " + edge);
        Console.WriteLine("isFailed = " + isFailed + ", isSuccesful = " + isSuccesful);
    }

    private void setFromNode(NodeDTO node) {
        nodeFromID = node.id;
        nodeFromTitle = node.title;
        isSuccesful = false;
        isFailed = false;
    }

    private void setToNode(NodeDTO node) {
        nodeToID = node.id;
        nodeToTitle = node.title;
        isSuccesful = false;
        isFailed = false;
    }
    private async Task HandleValidSubmit() {
        Console.WriteLine("HandleValidSubmit() has been invoked.");
        edge.nodeFromID = nodeFromID;
        edge.nodeToID = nodeToID;
        var response = await Http.PostAsJsonAsync("api/Edge", edge);
        if (response.IsSuccessStatusCode) {
            Console.WriteLine("Succes!");
            isSuccesful = true;
            isFailed = false;

        } else {
            Console.WriteLine("Oh no it failed!");
            isFailed = true;
            isSuccesful = false;
        }
    } 
}